In [39]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#open automated. chrome
driver=webdriver.Chrome(r'/Users/rinki/Downloads/chromedriver')

In [ ]:
#open the website
url='https://www.naukri.com/'
driver.get(url)

#search job skill,designation

search_title=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_title

#search "Data Analyst"
search_title.send_keys("Data Analyst")

#Search location Banglore

search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

search_location.send_keys("Banglore")

#search the selected options

search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button

search_button.click()

In [38]:
#scarpe Job_title
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title

Designation=[]
for i in job_title:
    Designation.append(i.text)
Designation

#Scrape location
job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location

Location=[]
for i in job_location:
    Location.append(i.text)
Location

#scrape company_name
org_detail=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
org_detail

organisation=[]
for i in org_detail:
   organisation.append(i.text)
organisation

#scrape experienced
exp_req=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_req

Exp_Req=[]
for i in company_name:
    Exp_Req.append(i.text)
Exp_Req

#Make DataFrame of 10 Data Analyst
Data_Analyst=pd.DataFrame({})
Data_Analyst['Designation']=Designation[:10]
Data_Analyst['Location']=Location[:10]
Data_Analyst['organisation']=organisation[:10]
Data_Analyst['Exp-Req']=Exp_Req[:10]
Data_Analyst

,Designation,Location,organisation,Exp-Req
0,software developer & Testing / Business Analys...,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb...",SECRET TECHNOLOGIES INDIA VMS GROUP,SECRET TECHNOLOGIES INDIA VMS GROUP
1,Staff Business Data Analyst - FDP,Bangalore/Bengaluru,Intuit Inc.,Intuit Inc.
2,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,Flipkart
3,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,K12 Techno Services Pvt Ltd
4,Data Analyst || Advance Excel || D Limit || Co...,Bangalore/Bengaluru,Inspiration Manpower Consultancy Pvt. Ltd.,Inspiration Manpower Consultancy Pvt. Ltd.
5,"Data Analyst (Python, SQL, Excel)",Bangalore/Bengaluru,Flipkart,Flipkart
6,Data Analyst,Bangalore/Bengaluru,Flipkart,Flipkart
7,Data Analyst For Text / Sentiment Analysis,Bangalore/Bengaluru(Hebbal Kempapura)\n(WFH du...,FUTURLYTIC PRIVATE LIMITED,FUTURLYTIC PRIVATE LIMITED
8,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,Flipkart
9,Data Analyst,Bangalore/Bengaluru,Capillary Technologies,Capillary Technologies